[user]
	email = hello@jamesnewton.com
	name = James Newton
[alias]
	b = branch
	co = checkout
	find = log --source --all -S
	forget = rm --cached
	g = grep --break --heading --line-number
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status -sb
	stash-all = stash save --include-untracked
[color]
	ui = auto
[grep]
	extendRegexp = true
	lineNumber = true
[push]
	default = simple
[log]
	decorate = full
[rebase]
	autostash = true
[stash]
	showPatch = true
[init]
	templatedir = ~/dotfiles/git/templates
