.DS_Store

bitbar/enabled/*
!bitbar/enabled/.keep

vim/bundle/*
!vim/bundle/.gitkeep

vim/tmp/*
!vim/tmp/.gitkeep

vim/virtual/*
!vim/virtual/.gitkeep

vim/langserver/*
!vim/langserver/.gitkeep

vim/.netrwhist

ranger/plugins/__init__.*
ranger/plugins/*.pyo

z/z

__pycache__
