[user]
        name = James Newton
        email = hello@jamesnewton.com
[alias]
        co = checkout
        st = status -sb
        b = branch
        forget = rm --cached
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
        ui = auto
[grep]
        extendRegexp = true
        lineNumber = true
[http]
        sslVerify = false
[push]
        default = simple
